.Order {
    width: 80%;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px auto;     /* top and bot 10px, none to left and right */
    border: 1px solid whitesmoke;
    box-shadow: 0 2px 3px wheat;
    margin-top: 6%;
    display: block;
}