.Food {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin-left: 38%;
    padding-top: 4%;
    padding-bottom: 2%;
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Food{
        width: 700px;
        height:650px;

    }
}

@media (min-width: 500px) and (min-height: 400px) {
    .Food{
        width: 350px;
        height:300px; 
    }
}

/* @media (min-width: 400px) and (min-height: 400px) {
    .Food{
        width: 200px;
        height:200px;
    }
} */

