.Food {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 5% 1% 1% 1%;
    height: 250px;
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Food{
        width: 700px;
        height:600px;
    }
}

@media (min-width: 500px) and (min-height: 400px) {
    .Food{
        width: 350px;
        height:300px; 
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Food {
        width: 450px;
        height: 400px;
    }
}
