.SingleNavigationItem {
    box-sizing: border-box;
    display: block;
    width: 100%;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}

.SingleNavigationItem a {
    box-sizing: border-box;
    background-color: brown;
    text-decoration: none;
    display: block;
    width: 100%;
    color: #FFF;
    border-bottom: 4px solid rgb(0, 0, 0);
}

.SingleNavigationItem a:hover,
.SingleNavigationItem a:active,
.SingleNavigationItem a.active {
    background-color: brown;
    border-bottom: 4px solid rgb(0, 0, 0);
    color: #FFF;
}


@media (min-width: 500px) {
    .SingleNavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .SingleNavigationItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .SingleNavigationItem a:hover,
    .SingleNavigationItem a:active,
    .SingleNavigationItem a.active {
        background-color: rgb(32, 24, 12);
        border-style: solid white;
        border-bottom: 4px solid orange;
        color: white;
    }
}