.BottomBread {
    height: 13%;
    width: 100%;
    background: linear-gradient(#e27b368c,#e69d7293);
    border-radius: 5px;
    margin: 2% auto;
}

.TopBread {
    height: 15%;
    width: 100%;
    background: linear-gradient(#e27b36b6,#e69c72);
    border-radius: 5%;
    margin: 2% auto;
    position: relative;
}

.Seeds1 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: rgba(202, 169, 18, 0.904);
    left: 30%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(-20deg);
}

.Seeds1:after {
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    background-color: rgba(202, 169, 18, 0.904);
    left: -170%;
    top: -260%;
    border-radius: 40%;
    transform: rotate(60deg);
  }
  
.Seeds1:before {
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    background-color: rgba(202, 169, 18, 0.904);
    left: 170%;
    border-radius: 40%;
    transform: rotate(10deg);
  }

  .Seeds2 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: rgba(202, 169, 18, 0.904);
    left: 64%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(20deg);
  }
  
  .Seeds2:before {
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    background-color: rgba(202, 169, 18, 0.904);
    left: 150%;
    top: -130%;
    border-radius: 40%;
  }
  

.Patty {
    width: 95%;
    height: 8%;
    background: linear-gradient(#7f3608, #702e05);
    margin: 2% auto;
    border-radius: 10px;
}

.Cheese {
    width: 95%;
    height: 4.5%;
    margin: 2% auto;
    background: linear-gradient(#f4d004, #d6bb22);
    border-radius: 3px;
}

.Lettuce {
    width: 95%;
    height: 5%;
    margin: 2% auto;
    background: linear-gradient(#2bb324,#228c1d);
    border-radius: 5px;
}

.Chilli {
    width: 95%;
    height: 3%;
    background: linear-gradient(#bf3813, #c45e38);
    margin: 2% auto;
    border-radius: 15px;
}
