.CheckoutComponent {
    text-align: center;
    width: 80%;
    margin: auto;
}

.CheckoutFood {
    width: 100%;
    margin: auto;
}

@media (min-width: 600px) {
    .CheckoutComponent{
        width: 500px;
    }
}

.Header1{
    padding-top: 12%;
}